#batch-email-list {
    margin: 2px;
    width: 685px;
    height: 235px;
}
#manage-freebies-area section {
    padding: 2px;
}
.invitations-area {
    margin-top: 15px;
}
.invitations-grid {
    margin-top: 10px;
}